<div class="card grey center-align">
  <div class="section">
    <h4> User Name: <%= current_user.email %> </h4>
    <%= image_tag(current_user.avatar.url(:thumb)) %>
  </div>
</div>


<ul>
  <% @pictures.each do |picture| %>
  <%= link_to(picture_path(picture)) do %>
    <li>  <%= picture.title %>  </li>

    <%= image_tag(picture.local_pic.url(:full)) %>
    <% end %>
  <% end %>
</ul>
