<!DOCTYPE html>
<html>
  <head>
    <title>FlickrCloneRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">FlickrClone</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <% if current_user %>
          <li>  <%= link_to 'Profile', user_path(current_user.id) %>  </li>
          <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
